@font-face {
  font-family: 'iconfont'; /* Project id 4018945 */
  src: url('./font/iconfont.woff2?t=1681651879214') format('woff2'),
    url('./font/iconfont.woff?t=1681651879214') format('woff'),
    url('./font/iconfont.ttf?t=1681651879214') format('truetype');
}

.iconfont {
  display: inline-block;
  margin: 10px 0;
  font-family: 'iconfont', sans-serif !important;
  font-size: 42px;
  font-style: normal;
  line-height: 42px;
  color: #333;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: '\e959';
}

.icon-nan:before {
  content: '\e95a';
}

.icon-nv:before {
  content: '\e95b';
}

.icon-lihe:before {
  content: '\e95c';
}

.icon-paihangbang:before {
  content: '\e95d';
}

.icon-lipinka:before {
  content: '\e95e';
}

.icon-pengyouquan:before {
  content: '\e95f';
}

.icon-xingbiao:before {
  content: '\e960';
}

.icon-qupiao:before {
  content: '\e961';
}

.icon-saoyisao:before {
  content: '\e962';
}

.icon-rili:before {
  content: '\e963';
}

.icon-pinglun2:before {
  content: '\e964';
}

.icon-qinghuiyuan:before {
  content: '\e965';
}

.icon-riqian:before {
  content: '\e966';
}

.icon-shandian2:before {
  content: '\e967';
}

.icon-shaixuan:before {
  content: '\e968';
}

.icon-shangquan:before {
  content: '\e969';
}

.icon-shanchu:before {
  content: '\e96a';
}

.icon-shezhi:before {
  content: '\e96b';
}

.icon-shangchuan:before {
  content: '\e96c';
}

.icon-shequ2:before {
  content: '\e96d';
}

.icon-shengyinguanbi:before {
  content: '\e96e';
}

.icon-shibai2:before {
  content: '\e96f';
}

.icon-shijian2:before {
  content: '\e970';
}

.icon-shengyin:before {
  content: '\e971';
}

.icon-shoucang2:before {
  content: '\e972';
}

.icon-shouji2:before {
  content: '\e973';
}

.icon-shouye2:before {
  content: '\e974';
}

.icon-shuju2:before {
  content: '\e975';
}

.icon-shuaxin:before {
  content: '\e976';
}

.icon-sousuo:before {
  content: '\e977';
}

.icon-tanhao2:before {
  content: '\e978';
}

.icon-taolunqu:before {
  content: '\e979';
}

.icon-tianjiayouhuiquan:before {
  content: '\e97a';
}

.icon-tishi:before {
  content: '\e97b';
}

.icon-tupian:before {
  content: '\e97c';
}

.icon-tuipiao:before {
  content: '\e97d';
}

.icon-weixuanzhong:before {
  content: '\e97e';
}

.icon-weibo:before {
  content: '\e97f';
}

.icon-wenjuan:before {
  content: '\e980';
}

.icon-wode2:before {
  content: '\e981';
}

.icon-weixin:before {
  content: '\e982';
}

.icon-wodeguanzhu:before {
  content: '\e983';
}

.icon-xiami:before {
  content: '\e984';
}

.icon-xiangkan:before {
  content: '\e985';
}

.icon-xiangji2:before {
  content: '\e986';
}

.icon-xiaoxi:before {
  content: '\e987';
}

.icon-xiazai:before {
  content: '\e988';
}

.icon-xiaojuchang:before {
  content: '\e989';
}

.icon-xiaoshi2:before {
  content: '\e98a';
}

.icon-xiaoxizhongxin:before {
  content: '\e98b';
}

.icon-yinhangka:before {
  content: '\e98c';
}

.icon-yanjing2:before {
  content: '\e98d';
}

.icon-faxian1:before {
  content: '\e8e4';
}

.icon-dingwei1:before {
  content: '\e8e5';
}

.icon-gonggao:before {
  content: '\e8e6';
}

.icon-huati1:before {
  content: '\e8e7';
}

.icon-jianshao1:before {
  content: '\e8e8';
}

.icon-huiyuan1:before {
  content: '\e8e9';
}

.icon-pinglun:before {
  content: '\e8ea';
}

.icon-shequ:before {
  content: '\e8eb';
}

.icon-shibai:before {
  content: '\e8ec';
}

.icon-shijian:before {
  content: '\e8ed';
}

.icon-shandian:before {
  content: '\e8ee';
}

.icon-wode:before {
  content: '\e8ef';
}

.icon-shouye:before {
  content: '\e8f0';
}

.icon-shouji:before {
  content: '\e8f1';
}

.icon-tanhao:before {
  content: '\e8f2';
}

.icon-shoucang:before {
  content: '\e8f3';
}

.icon-shuju:before {
  content: '\e8f4';
}

.icon-wenda:before {
  content: '\e8f5';
}

.icon-yanjing:before {
  content: '\e8f6';
}

.icon-yingchengka1:before {
  content: '\e8f7';
}

.icon-xiangji:before {
  content: '\e8f8';
}

.icon-yingyuan1:before {
  content: '\e8f9';
}

.icon-yinhangyouhui:before {
  content: '\e8fa';
}

.icon-xiaoshi:before {
  content: '\e8fb';
}

.icon-yanchu1:before {
  content: '\e8fc';
}

.icon-zengjia1:before {
  content: '\e8fd';
}

.icon-dianying1:before {
  content: '\e8fe';
}

.icon-youhuiquan1:before {
  content: '\e8ff';
}

.icon-remen:before {
  content: '\e900';
}

.icon-chuangzuo1:before {
  content: '\e901';
}

.icon-aixin:before {
  content: '\e8ab';
}

.icon-bianji:before {
  content: '\e8ac';
}

.icon-Dyanjing:before {
  content: '\e8ad';
}

.icon-caidan:before {
  content: '\e8ae';
}

.icon-anquan:before {
  content: '\e8af';
}

.icon-bangzhu:before {
  content: '\e8b0';
}

.icon-buganxingqu:before {
  content: '\e8b1';
}

.icon-bofangjilu:before {
  content: '\e8b2';
}

.icon-chuangzuo:before {
  content: '\e8b3';
}

.icon-chenggong:before {
  content: '\e8b4';
}

.icon-ceshi:before {
  content: '\e8b5';
}

.icon-dianhua:before {
  content: '\e8b6';
}

.icon-dianzan:before {
  content: '\e8b7';
}

.icon-dingwei:before {
  content: '\e8b8';
}

.icon-diantong_guan:before {
  content: '\e8b9';
}

.icon-dianying:before {
  content: '\e8ba';
}

.icon-ditu:before {
  content: '\e8bb';
}

.icon-diantong_kai:before {
  content: '\e8bc';
}

.icon-dianyingpiao:before {
  content: '\e8bd';
}

.icon-dingdan:before {
  content: '\e8be';
}

.icon-gengduo:before {
  content: '\e8bf';
}

.icon-fanbei:before {
  content: '\e8c0';
}

.icon-faxian:before {
  content: '\e8c1';
}

.icon-ertongpiao:before {
  content: '\e8c2';
}

.icon-gongyi:before {
  content: '\e8c3';
}

.icon-hongbao:before {
  content: '\e8c4';
}

.icon-fuzhi:before {
  content: '\e8c5';
}

.icon-fenxiang:before {
  content: '\e8c6';
}

.icon-huatifuhao:before {
  content: '\e8c7';
}

.icon-huiyuan:before {
  content: '\e8c8';
}

.icon-aliyu:before {
  content: '\e8c9';
}

.icon-jiju:before {
  content: '\e8ca';
}

.icon-jianshao:before {
  content: '\e8cb';
}

.icon-kabao:before {
  content: '\e8cc';
}

.icon-huati:before {
  content: '\e8cd';
}

.icon-guanzhu:before {
  content: '\e8ce';
}

.icon-maiyizengyi:before {
  content: '\e8cf';
}

.icon-yingchengka:before {
  content: '\e8d0';
}

.icon-yixiangkan:before {
  content: '\e8d1';
}

.icon-yingpingmoban:before {
  content: '\e8d2';
}

.icon-yanchu:before {
  content: '\e8d3';
}

.icon-xiaomi:before {
  content: '\e8d4';
}

.icon-yingyuan:before {
  content: '\e8d5';
}

.icon-zengjia:before {
  content: '\e8d6';
}

.icon-yuyin:before {
  content: '\e8d7';
}

.icon-youhuiquan:before {
  content: '\e8d8';
}

.icon-WIFI:before {
  content: '\e8d9';
}

.icon-zhibo:before {
  content: '\e8da';
}

.icon-youkuhuiyuan:before {
  content: '\e8db';
}

.icon-yulebao:before {
  content: '\e8dc';
}

.icon-zhiwen:before {
  content: '\e8dd';
}

.icon-aixin1:before {
  content: '\e8de';
}

.icon-chenggong1:before {
  content: '\e8df';
}

.icon-dianzan1:before {
  content: '\e8e0';
}

.icon-dianhua1:before {
  content: '\e8e1';
}

.icon-bangzhu1:before {
  content: '\e8e2';
}

.icon-dianyingpiao1:before {
  content: '\e8e3';
}
